html{
    scroll-behavior:smooth;
}

.all{
    font-family: 'Raleway';
}

/* Sessão Header */

.header{
    display: inline-flex;
    padding: 2em 8em 2em 9em;
    align-items: center;
}

.header_title:hover{
    cursor: pointer;
}

#txtBusca{
    border-radius: 20px;
    width: 393px;
    height: 40px;
    font-size: 14px;
    border-style: none;
    background: #F5F5F5;
    outline: #F5F5F5; 
    margin-left: 3em;
}

#txtBusca::placeholder{
    color: #A2A2A2;
    font-family: 'Raleway';
    padding-left: 1em;
}

#lupa{
    position: absolute;
    top: 48px;
    right: 710px;
    cursor: pointer;
}

.header_botao{
    display: flex;
    margin-left: 20em;
}

#btnHeader{
    width: 182px;
    height: 51px;
    font-family: 'Raleway';
    font-size: 16px;
    color: #2A7AE4;
    border: none;
    cursor: pointer;
    background-color: white;
    border: 1px solid #2A7AE4;
}

#btnHeader:hover{
    transition: 1s;
    background-color: #2A7AE4;
    color: #FFFFFF;
}



/* Sessão Banner*/

.banner{
    background-image:url("../icons/banner.png");
    
}

.banner_texto{
    padding-top: 10em;
    padding-left: 10em;
    font-weight: bold;
    color: #FFFFFF;
    
}

#banner_titulo{
    font-size: 52px;
}

#banner_subtitulo{
    font-size: 22px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.banner_botao{
    padding-left: 10em;
    padding-bottom: 1em;
    font-family: 'Raleway';
}

#btnBanner{
    width: 130px;
    height: 51px;
    font-size: 16px;
    color: #FFFFFF;
    background: #2A7AE4;
    border: none;
    cursor: pointer;
}

#btnBanner:hover{
    transition: 1s;
    background-color: #FFFFFF;
    color: #2A7AE4;
}

/* Sessão Star Wars*/

.starWars{
    padding: 5em 7em 2em 7em;
}

.sw_texto{
    display: inline-flex;
    align-items: center;
}

.sw_titulo{
    font-weight: bold;
    font-size: 32px;
    white-space: nowrap;
}

.sw_subtitulo{
    font-weight: bold;
    font-size: 16px;
    color: #2A7AE4;
    margin-left: 60em;
    white-space: nowrap;
}

#seta{
   margin-left: 1em;
}

.menu_starWars{
    display: inline-flex;
    margin-top: 2em;
}

.menu_item_sw{
    margin-right: 2em;
}

.nome_sw{
    color: #464646;
    margin-top: 0.5em;
}

.preco_sw{
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.ver_produto_sw{
    color: #2A7AE4;
    text-decoration: none;
    font-weight: bold;
}

/* Sessão Consoles*/

.consoles{
    padding: 2em 7em 2em 7em;
}

.cs_texto{
    display: inline-flex;
    align-items: center;
}

.cs_titulo{
    font-weight: bold;
    font-size: 32px;
    white-space: nowrap;
}

.cs_subtitulo{
    font-weight: bold;
    font-size: 16px;
    color: #2A7AE4;
    margin-left: 60em;
    white-space: nowrap;
}

#seta{
   margin-left: 1em;
}

.menu_consoles{
    display: inline-flex;
    margin-top: 2em;
}

.menu_item_cs{
    margin-right: 2em;
}

.nome_cs{
    color: #464646;
    margin-top: 0.5em;
    white-space: nowrap;
}

.preco_cs{
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.ver_produto_cs{
    color: #2A7AE4;
    text-decoration: none;
    font-weight: bold;
}

/* Sessão Diversos*/

.diversos{
    padding: 2em 7em 2em 7em;
}

.dv_texto{
    display: inline-flex;
    align-items: center;
}

.dv_titulo{
    font-weight: bold;
    font-size: 32px;
    white-space: nowrap;
}

.dv_subtitulo{
    font-weight: bold;
    font-size: 16px;
    color: #2A7AE4;
    margin-left: 60em;
    white-space: nowrap;
}

#seta{
   margin-left: 1em;
}

.menu_diversos{
    display: inline-flex;
    margin-top: 2em;
}

.menu_item_dv{
    margin-right: 2em;
}

.nome_dv{
    color: #464646;
    margin-top: 0.5em;
    white-space: nowrap;
}

.preco_dv{
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.ver_produto_dv{
    color: #2A7AE4;
    text-decoration: none;
    font-weight: bold;
}

/* Sessão Contato*/

.formcontato{
    background-color: #EAF2FD;
    margin-top: 2em;
}

.formcontato_img{
    display: flex;
    padding-top: 4em;
    padding-left: 7em;
    float: left;
}

.menu{
    display: inline-flex;
    padding-left: 9em;
    padding-top: 4em;
}

.menu_informacoes{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
   
}

.nome_info{
    margin-bottom: 2em;
}


.formcontato_texto{
    display: inline-flex;
    flex-direction: column;
    margin-left: 8em;
}

.formcontato_titulo{
    font-weight: bold;
}

.formcontato_form{
    display: inline-flex;
    flex-direction: column;

}

#nome{
    width: 560px;
    height: 56px;
    margin-top: 1em;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    outline: #FFFFFF;
}

#nome::placeholder{
    font-family: 'Raleway';
    color: #A2A2A2;
    font-size: 16px;
    padding-left: 1em;
}

#mensagem{
    width: 560px;
    height: 82px;
    margin-top: 1em;
    resize: none;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    outline: #FFFFFF;
}

#mensagem::placeholder{
    font-family: 'Raleway';
    color: #A2A2A2;
    font-size: 16px;
    padding-left: 1em;
    padding-top: 1em;
}

#botao_enviar{
    margin-top: 1em;
    width: 165px;
    height: 51px;
    font-size: 16px;
    color: #FFFFFF;
    background: #2A7AE4;
    border: none;
    cursor: pointer;
}

/* Sessão Rodapé*/





